<?xml version="1.0"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="ImagineTime" switchName="ImagineTimeAll">
        <listeners>
          <add name="textwriterListener" type="System.Diagnostics.TextWriterTraceListener"
               initializeData="ImagineTime_trace.log" traceOutputOptions="DateTime" />
          <remove name="Default" />
          <clear />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="ImagineTimeAll" value="Verbose" />
    </switches>
  </system.diagnostics>
</configuration>