.dzu-previewContainer,
.dzu-previewFileName {
  display: none !important;
}

.-dropzone-label-dialog {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-weight: 400 !important;
  background: transparent;
  border: none;
  cursor: pointer;
}

.search-fs-12 {
  font-size: 12px;
}

.container.files-dropzone-list {
  padding: 0;

  > .dropzone {
    width: 100%;
    height: 100%;
    padding: 3% 9%;
    z-index: 99999;
    text-align: center;
    display: flex;
    align-items: center;
  }
}

.react-rte-container {
  .ButtonWrap__root___1EO_R,
  .Dropdown__root___3ALmx {
    z-index: 0 !important;
  }
}

.demo-editor {
  .DraftEditor-editorContainer {
    z-index: 0 !important;
  }
}